* {
    margin: 0;
    padding: 0;
}

body {
    color: #444;
    background: url("../images/bg_header.jpg") top center no-repeat, url("../images/bg_body.jpg");
    h2 {
        font-family: "Melbourne", sans-serif;
    }
    header {
        background-color:darkolivegreen;
        opacity: 0.8;
        height: 25px;
        nav {
            width: 500px;
            margin-left: 50%;
            ul {
                li {
                    list-style-type: none;
                    font-family: "Melbourne";
                    display: inline-block;
                    padding: 2px;
                    margin: 0px 12px;
                }                
            }
        }
    }
    .container {
        width:950px;
        margin: auto;
        
    }
    .header_section > img:first-child  {
        display: inline-block;
        margin-top: 25px;
    }
    figure {
        margin-top:115px;
         img:last-of-type{
            vertical-align: top;
        }
        figcaption {
            margin-top: -50px;
            width: 200px;
            text-align: right;
            margin: -50px 0px 0px 73%;
            a {
                @extend .text-green-no-underline;
            }
        }
    }
    .header_text {
        height: 220px;
        margin-top: 50px;
        article {
            display: inline-block;
            width: 30%;
            vertical-align: top;
            margin-right: 25px;
            box-sizing: border-box;
            h2 {
                display: inline-block; 
                margin-left: 3px;
                margin-bottom: 25px;
            }
            img {
                vertical-align:text-bottom;
            }
            p {
                line-height: 14px;
            }
        }
    }
    .article {
        width: 60%;
        height: 388px;
        display: inline-block;
        background: url(../images/bg_news.jpg) no-repeat;
        vertical-align: top;
        article:first-of-type {
            margin-top: 70px;
        }
        article {
            vertical-align: top;
            div {
                display: inline-block;
                width: 12%;
                vertical-align: top;
                height: 100px;
                p {
                    span {
                        font-family: "GINKO";
                    }
                }
                
            }
            div:first-of-type {
                background: url(../images/bg_date.png) right center no-repeat;
                p {
                    text-align: right;
                    padding-top: 30px;
                    padding-right: 10px;                   
                    color: #733;

                }
            }
            div:last-of-type {
                width: 85%;
                p {
                    margin: 10px 0px;
                    font-size: 14px;
                    color: black;
                }
                a {
                    color: #911;
                    font-size: 12px;
                    text-decoration: none;
                    font-style: italic;
                    font-weight: 600;
                }
            }
        }
        h3 {
            font-size: 14px;
            font-weight: bold;
            font-family: Arial;
            color: #311;
        }

    }
    .info {
        width: 35%;
        height: 388px;
        display: inline-block;
        margin-left: 10px;
        background: url(../images/pot_newsletter.png) bottom right no-repeat;
        > div:first-of-type {
            box-sizing: border-box;
            h2 {
                margin-bottom: -5px;
            }
           
            div {
                width: 48%;
                display: inline-block;
                margin-bottom: 12px;

                ul {
                    list-style-image: url(../images/puce_feuille.png);
                    padding-left: 30px;
                    padding-top: 15px;
                    color: darkolivegreen;
                    font-family: Arial;
                    font-size: 14px;
                    font-weight: bold;

                }
            }
        }
        > div:last-of-type {
            div {
                form {
                    input {
                        display: block;
                        margin: 10px 0px;
                        border-radius: 3px;
                        padding: 2px;
                        font-family: "Melbourne";
                        letter-spacing: 2px;
                        font-size: 12px;
                    }
                    input:first-child {
                        width:60%;
                    }
                    input:last-child {
                        width:28%;
                        background-color: #811;
                        color: white;
                        font-family: Arial;
                        letter-spacing: 1px;
                        padding: 2px 5px;
                    }
                }
            }
            
        }      
        p {
            margin-top: 10px;
            font-size: 13px;
        }
    }
    .actu {
        height: 410px;
    }
    footer {
        background: url(../images/bg_footer.png);
        margin-bottom: 30px;
        div {
            display: inline-block;
        }
        div:first-of-type {
            width: 25%;
            padding: 9px 0px;
            margin-left: 60px;
            box-sizing: border-box;
            p {
                display: inline-block;
                font-family: Arial, sans-serif;
                font-size: 12px;
                font-weight: bold;
            }
            img {
                vertical-align: text-bottom;
            }
        }
        div:last-of-type{
            width: 68%;
            p {
                font-size: 12px;
                text-align: right;
                a {
                    @extend .text-green;
                }
            }
        }
    }
}